@import "./variables";

.teach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;

  &__title {
    font-size: 2.5rem;
    margin-top: 4rem;
  }

  &__questions {
    display: grid;
    align-content: center;
    justify-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(43rem, 1fr));
  }

  &__row {
    display: flex;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
  }

  &__features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    margin: 2rem 0;
  }

  &__input {
    width: 24rem;
    height: 3rem;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
    border: 1px solid $color-black;

    @include tn {
      width: 20rem;
    }

    &-area {
      width: 24rem;
      padding: 1rem;
      font-size: 2rem;
      height: 20rem;
      border: 1px solid $color-black;
      resize: none;
      outline: none;

      &:focus {
        border: 1px solid $color-blue-light;
      }

      @include tn {
        width: 20rem;
      }
    }

    &--select {
      height: 3rem;
      font-size: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 24rem;
      appearance: menulist;

      @include tn {
        width: 20rem;
      }
    }

    &--select-option {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &--radio {
      color: $color-blue-light;
    }

    &:focus {
      border: 1px solid $color-blue-light;
    }
  }

  &__text {
    font-size: 2rem;
    margin-right: 3rem;
    width: 14rem;
  }

  &__button {
    margin-top: 3rem;
    height: 4rem;
    width: 26rem;
    font-size: 2rem;
    color: $color-grey-light;
    background-color: $color-blue-light;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
  }
}
